<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="das.losaparecidos.etzi">

    <application
        android:name=".Etzi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Etzi">


        <!--  ###  ACTIVITIES  ###  -->

        <!--Main Activity-->
        <activity
            android:name=".app.activities.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Etzi"
            android:windowSoftInputMode="adjustResize"/>

        <!--Authentication Activity-->
        <activity
            android:name=".app.activities.authentication.AuthenticationActivity"
            android:exported="true"
            android:theme="@style/Theme.Etzi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--  ###  FIREBASE  ###  -->

        <!--FCM Meta data-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="EHU_INFORMATION" />


        <!--Firebase FCM Service-->
        <service
            android:name=".services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Widget -->
        <receiver
            android:name=".widgets.AgendaWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/agenda_widget" />
        </receiver>

    </application>

</manifest>